p {
    padding: 0%;
}

body {
    font-family: Open Sans, sans-serif;
}

footer {
    background-image: linear-gradient(black, rgb(64, 64, 64));
    padding: 20px 0;
    color: #0056b3;
}

h1 {
    text-shadow: 3px 3px #000000;
    color: white;
}

/* product.html: h1 {
    color: black;
    text-shadow: 3px 3px #ffffff;
} */

h1, h2, h3 {
    font-family: "Ariel", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #808185;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
.btn-google {
    background-color: red;
    color: #fff;
}
.btn-yahoo {
    background-color: purple;
    color: #fff;
}

.btn-microsoft {
    background-color: darkred;
    color: #fff;
}

.btn-shadow {
    box-shadow: 3px 3px;
}

.btn-wrap {
    overflow-wrap: normal;
}

.card {
    min-width: 175px;
}

.card-header {
    background-color: gray;
    height: 100px;
}

.cardHeaderLink {
    color: black;
    font-family: "Open Sans";
    font-size: large;
}

.card-shadow {
    box-shadow: 3px 3px 3px ; /*#1d75bd*/
}

.card-space {
    justify-content: space-around;
}
/*.carousel { width: auto; height:360px; }

*/

.demoForm {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.featureTitle {
    color: black;
    text-shadow: 2px 2px 3px #3046C5;
}

.jumbotron {
    padding: 30px;
    background-color: white;
  /*  background-image: linear-gradient(to right, #1d75bd, #24a9e2);*/
    color: black;
    border: ridge;
    margin: 0;
}

.mktbg {
    text-align: center;
    padding: 3rem 3rem;
}

.navbar {
    padding: 20 0;
    background-color: #ffffff;

}


.profilePic {
    height: 450px;
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.twoCol {
    columns: 3;
}

#featureAccordion {
    background-position: center;
    background-repeat: no-repeat;
    /* height: max-content; */
    min-height: 150%;
    position: relative;
}

#featureAccordion::before {
    content: "";
    background-image: url('../img/manySports2.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: .15;
}

#mainDiv {
    /* min-height: 676.5px;
    max-height: 900px; */
    background-image: linear-gradient(#24a9e2, #1d75bd);    /* 1d75bd*/
    height: 100%;
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
}

#mainIMG {
    max-width: 100%;
    height: auto;
    /* top: 25%;
    /* height: 100%; */
    /* border-radius: 20px 0 0 20px; */
}

/* #registerColumn {
    border-right: solid black 3px;
} */

*::after, ::before {
    box-sizing: border-box;
}

#secondDiv {
    background-image: linear-gradient(#1d75bd, white);    /* 1d75bd*/
    height: 100%;
}

#secondDiv h2 {
    color: white;
    text-shadow: 2px 2px 2px black;
}

/* Below is the CSS for the Heroes items */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Below is the CSS for Dashboard page */


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
